.table {
    width: 600px;
    border-collapse: collapse;
    margin: 10pt;
    font-family: Arial, sans-serif;
    color: #464646;
}

TD {
    border: 1px solid #e5e5e5;
    padding: 12px;
}

thead td {
    color: white;
    background: #3498db;
    font-weight: 600;
}

tr:nth-child(2n) {
}

tr:nth-child(2n+1) {
    background: #eeeeee;
}